<div class="mt-4" id="show_page">
    <div class="card ml-3 mb-3 mx-auto rounded" style="width: 40rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>Sign In</strong></h1>
        <h6 class="card-subtitle mb-2 text-muted">Welcome back!</h6>
        <hr>

              <%= form_for :session, url: session_path do |f| %>
            <div class="form-group">
              <strong><%= f.label :email, for:"input1" %></strong><br />
              <%= f.email_field :email, type:"text", class:"form-control", id:"input1" %>
            </div>

            <div class="form-group">
              <strong><%= f.label :password, for:"input2" %></strong><br />
              <%= f.password_field :password, type:"password", class:"form-control", id:"input2" %>
            </div>

            <%= f.submit "Sign In", class:"btn btn-outline-dark" %>
            <% end %>

      </div>
    </div>
</div>
