<div class="mt-4" id="show_page">
    <div class="card ml-3 mb-3 mx-auto rounded" style="width: 40rem;">
      <div class="card-body">
        <h1 class="card-title"><strong>Change Password</strong></h1>
        <hr>

      <!-- need error messages if the confirmations don't match -->

      <%= form_for(@u, url: update_password_path) do |f| %>
          <p class="form-errors">
            <%= @u.errors.full_messages.join(', ') %>
          </p>
          <div class="form-group">
            <strong><%= f.label :current_password, for:"input1" %></strong><br />
            <%= f.password_field :current_password, type:"password", class:"form-control", id:"input1" %>
          </div>
          <div class="form-group">
            <strong><%= f.label 'New Password', for:"input2" %></strong><br />
            <%= f.password_field :password, type:"password", class:"form-control", id:"input2" %>
          </div>
          <div class="form-group">
            <strong><%= f.label 'New Password Confirmation', for:"input3" %></strong><br />
            <%= f.password_field :password_confirmation, type:"password", class:"form-control", id:"input3" %>
          </div>

          <%= f.submit "Submit", class:"btn btn-outline-dark" %>

        <% end %>

      </div>
    </div>
</div>
